@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body{
    @apply 
    bg-gray-200
    }
}


.slick-prev:before {
  content: "<";
  color: gray;
  font-weight: bold;
  font-size: 30px;
}

.slick-next:before {
  content: ">";
  color: gray;
  font-size: 30px;
  font-weight: bold;
}


/* table border */
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}